#chatWindow {
  list-style-type: none;
}

body {
  font-family: "HelveticaNeue-Light";
}
.msg {
  margin: 10px 0;
  padding: 10px;
  width: 400px;
  background-color: #efefef;
}
input[type='text'] {
  margin-right: 5px;
}

button {
  padding: 0.5em 1em;
  background-color: #50b1ff;
  border: none;
  color: #fff;
}
